<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <%# run_event('pre_head') %>
    <%# theme loading %>

    <div id="hd">
      <h1 id="hd_h1"><%# Website Name %></h1>
      <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
      </div>

      <%# 팝업 레이어 %>
    </div>
  </body>
</html>
